<!--<form action="/new" method="POST">-->
<!--  <input type="text" name="name"></input>-->
<!--  <input type="text" name="description"></input>-->
<!--  <input type="submit"></input>-->
<!--</form>-->

<!--{% for item in items %}-->
<!--  <h1> {{ item.distance }} </h1>-->
<!--  <p> {{ item.begin_date }} <p>-->
<!--{% endfor %}-->
<h1>Brevet Controle Times</h1>
{% if items == [] %}
<p style="color:red;font-size:40px;">No records to display!</p>
{% endif %}

{% for item in items %}
<p>{{ item.distance}}km ACP Brevet</p>
<p>Starting on: {{ item.begin_date }} at {{ item.begin_time }}</p>
<!--<p>{{ item.control_data }}</p>-->

 <div class="row">
   <div class="col-md-12">
<table class="control_time_table">
      <tr>
	<th> Miles </th>
	<th> Km </th>
	<th>Location</th>
	<th>Open</th>
	<th>Close</th>
	<th>Notes</th>
      </tr>
   {% for i in item.control_data %}
    <tr class="control">
      <!-- Dist (mi) -->
      <td><span style="margin-right:30px">  {{ i.miles }} </span></td>
      <!-- Dist (km) -->
      <td><span style="margin-right:30px">  {{ i.km }} </span></td>
      <!-- Location (optional) -->
      <td><span style="margin-right:30px">  {{ i.location }} </span></td>
      <!-- Open time (read only, set by JavaScript function -->
      <td><span style="margin-right:30px">  {{ i.open }} </span></td>
      <!-- Close time (read only, set by JavaScript function -->
      <td><span style="margin-right:30px">  {{ i.close }} </span></td>
      <!-- Notes (error messages for this row) -->
<!--      <td class="notes"> &nbsp; </td>-->
    </tr>
    {% endfor %}
  </table>
  </div> <!-- col -->
  </div> <!-- row -->

{% endfor %}


<button type="button" id="display" style="height:50px;width:100px;margin-left: 30px;" onclick="goBack()">Go Back</button>

<script>
function goBack() {
  window.history.back();
}
</script>